@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}

/*Navigation Bar:CSS Codes */
nav{
    background-color:#1C2833;
    width:100%;
    height: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px 0px 80px;
}
.logo{
    font-size:20px;
    font-weight: bold;
    color:#ffffff;
}
nav ul{
    display:flex;
}

nav ul li{
    list-style: none;
    margin:0 8px;
}
nav ul li a{
    text-decoration: none;
    font-size:16px;
    font-weight:500;
    color:#ffffff;
    padding:7px 13px;
    border-radius:3px;
    transition:0.5s;
    text-transform: uppercase;
    display: inline-block;
}
nav ul li a:hover, nav ul li a.home{
    background-color:#566573;
}
.menu-btn-humbergur{
    color:#fff;
    font-size:22px;
    cursor:pointer;
    display: none;
}
.menu-btn-cross{
    color:#fff;
    font-size:22px;
    cursor:pointer;
    display: none;
}
#click{
    display:none;
}

@media only screen and (max-width:940px){
    .menu-btn-humbergur{
        display: block;
    }
    #click:checked ~ .menu-btn-humbergur{
        display:none;
    }
    #click:checked ~ .menu-btn-cross{
        display: block;
    }
    nav ul{
        position:fixed;
        top:80px;
        left:-100%;
        background-color:#17202ace;
        width:100%;
        height: 100vh;
        flex-direction: column;
        text-align:center;
        padding-top:20px;
        transition: all 0.5s ease;
    }
    #click:checked ~ ul{
        left:0%;
    }
    nav ul li{
        margin:40px 0;
    }
    nav ul li a{
        font-size:20px;
    }
    nav ul li a:hover, nav ul li a.home{
        background:none;
        color:#ff0000;
    }
}
/* Header Secton: CSS Codes */
header{
 background-image: url('../images/banner.jpg');
 height: 90vh;
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
}

/* First Section: CSS Codes */

#first-section{
    background-color:#16213E;
}
.service-title{
    text-align:center;
    color:#fff;
    padding:50px 0;
    letter-spacing: 0.2em;
    font-size:28px;
}
#service-parent{
    width:1100px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;;
    padding-bottom:100px;
}
#service-parent > .single-service{
    background-color:#fff;
    text-align: center;
    color:black;
    padding:30px 20px;
    border-radius: 5px;
    border:3px solid green;
    box-shadow: 5px 5px 10px gray;
}
#service-parent > .single-service > span{
    font-size:35px;
}
.single-service > h2{
    margin:10px 0;
    font-weight: bold;
}
/* Second Secton: CSS Codes */
#second-section{
    background-color: #184F72;
    padding:50px 0 100px 0;
}
.smart-area-title{
    text-align:center;
    font-size:35px;
    letter-spacing: 0.2em;
    margin-bottom:30px;
    color:yellowgreen;
}
#smart-area-parent{
    width:1100px;
    margin:0 auto;
    /* margin-left: 200px;
    margin-right:200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smart-text{
    color:#fff;
}
.smart-text h2{
    margin:20px 0;
    font-size:30px;
}
.smart-text {
    text-align: justify;
}
.smart-text a{
    text-decoration: none;
    font-size:22px;
    background-color:bisque;
    color:black;
    padding:10px 30px;
    border-radius:5px;
    display:inline-block;
    margin-top:40px;
}


@media only screen and (max-width:688px){
    #service-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:10px;
        width:100%;
    }
    #smart-area-parent{
        width: 100%;
        padding: 0 30px;
        flex-direction: column;
    }
    .smart-text h2{
        margin:16px 0;
        font-size:19px;
    }
    .smart-image{
        margin-bottom:60px;
    }
}
@media only screen and (min-width:689px) and (max-width:1099px){
    #service-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:20px;
        width:100%;
    }
     #smart-area-parent{
        width:100%;
        padding: 0 40px;
        flex-direction: column;
    }
     .smart-image{
        margin-bottom:60px;
    }
}
